@import url('reset.css');

/* General Demo Style */
body{
	background: #222;
	color: #fff;
	font-family: 'Bitter', Arial, sans-serif;
	font-size: 13px;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
h1{
	font-size: 24px;
	position:relative;
	color: #fff;
	font-weight: 400;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.8), 0px 0px 1px #fff;
    padding: 20px 30px 30px 30px;
	z-index:1000;
    text-align: center;
}
h1 span{
    color: transparent;
    text-shadow: 0px 0px 3px #fff;
}
/* Header Style */
.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}
p.demos{
    position:relative;
    z-index: 1000;
    text-align:center;
}
p.demos a{
    padding: 0 4px;
}
p.demos a:hover{
    text-decoration: underline;
}
p.demos a.current-demo{
    font-weight: bold;
}

div.movies {
	display:flex;

}

div.openingScroll {
	
    position: relative;
	/* float: right;
	margin-right: 20px;
	margin-bottom: 20px; */
	/*margin:auto;*/
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	opacity: 0.7;
	background-color: #000000;
    width: 400px;
    height: 400px;
    overflow: hidden;
    z-index: 300;
    font-size: 18px;
     margin-top: 5%;
    margin-left: 10%; 
}

div.openingScroll:hover {
        overflow: auto;
    }
    div.openingScroll p {
        padding-right: 16px;
    }
    div.openingScroll:hover p {
        padding-right: 0px;
    }

div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

div.scroll {
    position: relative;
	/* float: right;
	margin-right: 20px;
	margin-bottom: 20px; */
	/*margin:auto;*/
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	opacity: 0.7;
	background-color: #000000;
    width: 400px;
    height: 400px;
    overflow: hidden;
    z-index: 300;
    font-size: 18px;
     margin-top: 5%;
    margin-left: 10%;
}

div.scroll:hover {
        overflow: auto;
    }
    div.scroll p {
        padding-right: 16px;
    }
    div.scroll:hover p {
        padding-right: 0px;
    }

div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

div.upcomingScroll {
	
    position: relative;
	/* float: right;
	margin-right: 20px;
	margin-bottom: 20px; */
	/*margin:auto;*/
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
	opacity: 0.7;
	background-color: #000000;
    width: 400px;
    height: 400px;
    overflow: hidden;
    z-index: 300;
    font-size: 18px;
     margin-top: 5%;
    margin-left: 10%; 
}

div.upcomingScroll:hover {
        overflow: auto;
    }
    div.upcomingScroll p {
        padding-right: 16px;
    }
    div.upcomingScroll:hover p {
        padding-right: 0px;
    }

div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;
}